@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Lato", sans-serif;
  --font-mono:
    "Geist Mono",
    "Geist Mono Fallback" --default-font-family: var(--font-geist-sans);
}
